body {
    padding-left:20%;
    padding-right:20%;
  }
  
.login {
  margin-right: 10%;
}

#cardLogin {
  padding-top:10%;
}

#friendInput {
  width:70%;
}

.nav-link{
  font-size: x-large;
}

.tabContent{
  margin:5%;
}